beautifulsoup4==4.12.3
python-dotenv==1.0.1
pandas==2.2.2
requests==2.32.3
fastapi==0.111.0
PyJWT==2.8.0
apache-airflow==2.9.2
pendulum==3.0.0
mysql-connector-python==9.0.0
SQLAlchemy==1.4.36
pyjwt==2.8.0
pwdlib[argon2]==0.2.0
#requests==2.5
